/* Write your CSS here. */
.wgs{
    position: relative;
    width: 640px;
    height: 482px;
    display: inline-block;
    overflow: hidden;
}
.wgs__mole-hill{
    position: absolute;
    width: 640px;
    height: 220px;
    top:262px
}
.wgs__mole-head{
    position: absolute;
    width: 376px;
    height: 356px;
    left:108px
}

.wgs__mole-head--hidden{
    position: absolute;
    width: 376px;
    height: 356px;
    left:108px;
    margin-top:482px;
    transition-property: margin-top;
    transition-duration: 0.25s;
}
