/* Write your CSS here. */
.wgs{
    position: relative;
    width: 640px;
    height: 482px;
    display: inline-block;
}
.wgs__mole-hill{
    position: absolute;
    width: 640px;
    height: 220px;
    top:262px
}
.wgs__mole-head{
    position: absolute;
    width: 376px;
    height: 356px;
    left:108px
}
