/* Write your CSS here. */
.wgs{
    position: relative;
    width: 320px;
    height: 241px;
    display: inline-block;
    overflow: hidden;
}
.wgs__mole-hill{
    position: absolute;
    width: 320px;
    height: 110px;
    top: 131px
}
.wgs__mole-head{
    position: absolute;
    width: 188px;
    height: 178px;
    left: 54px
}

.wgs__mole-head--hidden{
    position: absolute;
    width: 188px;
    height: 178px;
    left: 54px;
    margin-top:241px;
    transition-property: margin-top;
    transition-duration: 0.25s;
}

.pf {
    display: grid;
    grid-template-areas:
    "wgs wgs wgs wgs"
    "wgs wgs wgs wgs" ;
}
